table.außen
{
    background-color: cornsilk;
    margin-top: 15px;
    border: solid;
    border-spacing: 20px;
}

table.headline
{
    border: solid;
    background-color: #e7e1c8;
}

button
{
    background-color: #e7e1c8;
    border: solid;
}

table.frage
{
    border: solid;
}

select
{
    background-color: #e7e1c8;
}