extends ./templates/layout



block content
  main

    h1(align="center") Terminanmeldung

    <select id="Day" size="6">
    <option value="Mo Di">Mo.</option>
    <option value="Mo Di">Di.</option>
    <option value="Mi">Mi.</option>
    <option value="Do">Do.</option>
    <option value="Fr">Fr.</option>
    <option value="Sa">Sa.</option>
    </select>

    <select id="Time" size="11">
    <option value="9Uhr">9.00 Uhr</options>
    <option value="10Uhr">10.00 Uhr</options>
    <option value="11Uhr">11.00 Uhr</options>
    <option value="12Uhr">12.00 Uhr</options>
    <option value="13Uhr">13.00 Uhr</options>
    <option value="14Uhr">14.00 Uhr</options>
    <option value="16Uhr">16.00 Uhr</options>
    <option value="17Uhr">17.00 Uhr</options>
    <option value="18Uhr">18.00 Uhr</options>
    <option value="19Uhr">19.00 Uhr</options>
    <option value="22Uhr">22.00 Uhr</options>
    </select>
    <br>
    <br>
    <p>Ihr dürft meine Daten weiterverkaufen?</p>
    

    
